body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* body {
  width: 70%;
  margin: 20pt;
} */

.container {
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 5%;
}

#nav {
	width: 50%;
	float: left;
	margin: 0 0 3em 0;
	padding: 0;
  list-style: none; }
  
#nav li {
	float: left; }

#nav li a {
		display: block;
		padding: 8px 15px;
		text-decoration: none;
		font-weight: bold;
		color: #069;
		border-right: 1px solid #ccc; }

#nav li a {
		display: block;
		padding: 8px 15px;
		text-decoration: none;
		font-weight: bold;
		color: #069;
    border-right: 1px solid #ccc; }
    
/* #search-bar {
  width: 50%;
  float: right;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none; } */

#search {
  width: 50%;
  float: right;
  margin: 0 0 3em 0;
  padding: 0;
  padding-top: 7px;
  list-style: none; 
}
  
#search li {
  list-style: none;
  display: block;
  float: right;
}
  
#search input {
  border-radius: 12pt;
  border-style: solid;
  border-color: #069; 
}

#metrics {
  margin: 0 0 1em 0;
  padding: 8px;
}
  
#metrics li {
  list-style-position: unset;
  display: block;
  float: left;
}

.fullText {
  display: none;
}





/* .bar {
  border-radius: 15px;
  border: 1px lightblue solid;
  padding: 5px 5px 5px 25px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
} */

#card {
  background-color: white ;
}

#card-name {
  color: grey;
  float: right; 
  margin-right: 5%;
}

#metric-labels {
  font-size: small;
}

#feed-title {
  background-color: lightblue;
  text-align: center;
}